<!DOCTYPE html>
<html lang="es">
<head>
<title>Buscador sepomex</title>
</head>

<body>

<h1>Buscador sepomex</h1>
<h3>Para buscar escribe uno o varios de los datos del formulario y da clic en buscar</h3>
<h3>Para añadir nuevos registros completa todas las celdas del formulario y da clic en registrar</h3>
<form action="{% url 'buscador' %}" method="POST">
	<table>
	{{ form }}
	</table>
	<input type="submit" value="Buscar">
	<input type="submit" value="Registrar">
</form>
{% block resultado %} {% endblock %}

</body>
</html>